@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Momo Trust Display", sans-serif;
    color: white;

    /* Background image */
    background: url("https://raw.githubusercontent.com/BananeRapeuse/Ph0qu3-Demon-list/refs/heads/main/src/IMG_1132.png") no-repeat center center fixed;
    background-size: cover;

    /* Dark overlay */
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55); /* assombrit */
    z-index: -1;
}

/* Container général */
.container {
    width: 80%;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
}

/* Carte demon */
.demon-card {
    padding: 18px 20px;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.demon-card:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Partie texte centrée */
.center-box {
    width: 70%;
    margin: 80px auto;
    padding: 20px;
    background: rgba(0,0,0,0.45);
    border-radius: 12px;
    text-align: center;
}

a {
    color: #77B2FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
